@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,500&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0125rem;
  --dark-background-color: #252B42;
  --light-text-color: #FFF;
  --text-color: #252B42;
  --second-text-color: #737373;
  --primary-color: #23A6F0;
  --light-text-gray-1: #FAFAFA;
  --muted-color: #BDBDBD;
  --success-color: #2DC071;
  --secondary-color-1: #23856D;
  --alert-color: #E77C40;
  --dark-background-color: #252B42;
  --danger-color: #E74040;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

.section-heading {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
}

.section-subtext {
  color: var(--second-text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin-top: 0.62rem;
}

.section-subHeading {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.62rem;
}

.btn {
  display: flex;
  padding: 0.9375rem 2.5rem;
  justify-content: center;
  gap: 0.625rem;
  outline: none;
  border: none;
  border-radius: 0.3125rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
  cursor: pointer;
}

.primary, .primary-inverse:hover {
  background-color: var(--primary-color);
  color: var(--light-text-color);
}

.primary-inverse, .primary:hover, .success:hover {
  background-color: var(--light-text-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.success {
  background-color: var(--success-color);
  color: var(--light-text-color);
}

/* Header & Nav */

.mobile-nav {
  margin-inline: 2.19rem 2.38rem;
}

.top-bar {
  padding-block: 0.81rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.top-bar span, .bottom-header .logo, footer .logo {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  /* 133.333% */
  letter-spacing: 0.00625rem;
}

.top-bar button {
  border: none;
  background: none;
  cursor: pointer;
}

.top-bar button:hover {
  opacity: .8;
}

.top-bar_btns {
  display: flex;
  gap: 1.5rem;
}

.hidden {
  display: none;
}

.nav-links-ul {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  align-items: center;
  margin-top: 5.19rem;
}

.nav-links-ul a {
  color: var(--second-text-color);
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  line-height: 2.8125rem;
  letter-spacing: 0.0125rem;
}

.nav-links-ul a:hover {
  color: var(--primary-color);
}

.top-header, .bottom-header {
  display: none;
}

.banner-section {
  position: relative;
  height: 100vh;
  max-height: 47.0625rem;
  background: var(--primary-color);
  background-repeat: no-repeat;
  background-image: url("../images/bgs/mobile-bg.svg");
  background-size: cover;
}

.banner-section, .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content {
  gap: 2.19rem;
  color: var(--light-text-color);
  text-align: center;
  max-width: 70vw;
}

.banner-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
}

.banner-content p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
}

.carousel-control {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 1.75rem;
  color: var(--light-text-color);
  font-size: 2.75431rem;
}

.carousel-indicators {
  display: none;
}

/* EDITOR'S PICK  */
.editor-pick-section {
  background: var(--light-text-gray-1);
  padding: 5rem 2.53rem;
}

.editor-header {
  text-align: center;
  padding-bottom: 3rem;
  padding-inline: 4.19rem 3.75rem;
}

.editor-pick-section .images-grid {
  display: grid;
  grid-template-areas:
    'men'
    'women'
    'accessories'
    'kids';
  gap: 1.88rem;
}

.editor-pick-section .item {
  display: flex;
  padding: 1.62rem 1.88rem;
}

.editor-pick-section .item span {
  margin-top: auto;
  background-color: var(--light-text-color);
  padding: 0.75rem;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 10.6rem;
}

.editor-pick-section .item1 {
  grid-area: men;
  background-image: url("../images/editors/men.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 31.25rem;
}

.editor-pick-section .item2 {
  grid-area: women;
  background-image: url("../images/editors/women.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 31.25rem;
}

.editor-pick-section .item3 {
  grid-area: accessories;
  background-image: url("../images/editors/accessories.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 15.125rem;
}

.editor-pick-section .item4 {
  grid-area: kids;
  background-image: url("../images/editors/kids.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 15.125rem;
}

/* BESTSELLER SECTION */
.bestseller-section, .ctaTwo-header {
  padding: 5rem 2.69rem;
}

.bestseller-header {
  text-align: center;
  padding-bottom: 3rem;
  padding-inline: 2.09rem;
}

.bestseller-cards {
  display: flex;
  gap: 5rem 1.88rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bestseller-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestseller-section .card-info {
  padding-inline: 1.56rem;
  padding-block: 1.56rem 2.19rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.62rem;
}

.card-info .title {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}

.card-info a {
  color: var(--second-text-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.card-info .prices {
  display: flex;
  padding: 0.3125rem 0.1875rem;
  gap: 0.3125rem;
}

.card-info .prices span {
  color: var(--muted-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}

.card-info .prices span:last-child {
  color: var(--secondary-color-1);
}

.card-info .colors {
  display: flex;
  gap: 0.38rem;
}

.eclipse {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.ctaTwo-header {
  gap: 2.04894rem;
  text-align: center;
  padding-bottom: 1.76rem;
}

.ctaTwo-header, .ctaTwo-header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctaTwo-header p {
  color: var(--second-text-color);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  padding-inline: 2rem;
  letter-spacing: 0.0125rem;
}

.ctaTwo-header div {
  gap: 1.56rem;
}

.ctaTwo-img-container {
  padding-inline: 0.81rem;
  max-width: 24.1rem;
  margin: 0 auto;
}

.ctaTwo-img {
  min-height: 23.4375rem;
  background: url("../images/asian-couple.png") no-repeat;
  background-size: cover;
  background-position: -8rem center;
}


.ctaTwo-header h2, .featuredProducts-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
}

.featured-cards {
  display: flex;
  gap: 1.87rem 0.66rem;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-card {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  color: var(--second-text-color);
  max-width: 21.75rem;
}

.featuredProducts-header {
  text-align: center;
  padding-bottom: 5rem;
}

.featuredProducts-header h4 {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.product-img {
  height: 18.75rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product-img span {
  position: absolute;
  padding-inline: 0.62rem;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 0.1875rem;
  background: var(--danger-color);
  color: var(--light-text-color);
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.product-img img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.product-info {
  display: flex;
  gap: 0.62rem;
  flex-direction: column;
  padding-inline: 1.56rem;
  padding-block: 1.56rem 2.19rem;
}

.product-info .tags {
  display: flex;
  gap: 0.94rem;
}

.product-info .tags span:first-child {
  color: var(--primary-color);
}

.product-info .title {
  color: var(--text-color, #252B42);
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.0125rem;
}

.product-info p {
  font-size: 0.875rem;
}

.product-info .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 0.94rem;
}

.product-info .stats span {
  display: flex;
  align-items: center;
  gap: 0.31rem;
}

.icon-primary {
  color: var(--primary-color);
}

.icon-success {
  color: var(--success-color);
}

.product-link {
  display: flex;
  align-items: center;
  gap: 0.62rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.logo-box, .copyright {
  background-color: var(--light-text-gray-1);
}

.logo-box, .quick-links, .copyright {
  padding: 2.5rem 2.75rem;
}

.footer-icons {
  display: flex;
  gap: 1.25rem;
  margin-top: 0.72rem;
}

.quick-links, .quick-links>div, .quick-links>div>ul {
  display: flex;
  gap: 1.88rem;
  flex-direction: column;
}

.quick-links>div {
  gap: 1.25rem;
  font-weight: 700;
  color: var(--second-text-color);
}

.quick-links>div>ul {
  gap: 0.62rem;
}

.quick-links h4.section-heading {
  font-size: 1rem;
  line-height: 1.5rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quick-links form p {
  font-weight: 400;
  font-size: 0.75rem;
}

.quick-links form input, .quick-links form button {
  padding: 0.94rem 1.25rem;
}

.quick-links form input::placeholder {
  color: var(--muted-color);
}

.quick-links form input {
  background-color: #F9F9F9;
  outline: none;
  border: 1.5px solid #E6E6E6;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  ;
}

.quick-links form button {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  outline: none;
  border: 1.5px solid var(--primary-color);
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  ;
}

@media all and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    background: var(--dark-background-color);
    color: var(--light-text-color);
    font-weight: 700;
    font-size: 0.875rem;
    padding-inline: 1.5rem;
    padding-block: 0.56rem 0.31rem;
    letter-spacing: 0.0125rem;
  }

  .socials, .socials span, .contact a, .contact {
    padding: 0.62rem;
  }

  .socials, .socials>div, .contact a, .contact {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .icons {
    flex-shrink: 0;
    font-size: 24px;
  }

  .socials .social-icon {
    padding: 0.31rem;
  }

  .bottom-header {
    display: flex;
    padding: 1.56rem 2.12rem 1.31rem 2.36rem;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
  }


  .logo {
    padding-right: 4.94vw;
  }

  .bottom-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.94rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
  }

  .bottom-header .nav-right {
    margin-left: auto;
    color: var(--primary-color);
  }

  nav .has-children a {
    display: flex;
    align-items: center;
    gap: 0.56rem;
  }

  .has-children span {
    display: inline-block;
    font-weight: 400;
    margin-left: -0.3rem;
  }

  /* BANNER SECTION */
  .banner-section {
    max-height: 44.75rem;
    background-image: url("../images/bgs/desktop-bg.svg");
  }

  .banner-content {
    align-items: flex-start;
    width: 100%;
  }

  .banner-content p {
    max-width: 23.5rem;
    text-align: left;
  }

  .banner-content h1 {
    font-size: 3.625rem;
    line-height: 5rem;
  }

  .carousel-indicators {
    position: absolute;
    bottom: 3.06rem;
    width: 7.875rem;
    display: flex;
    gap: .3rem;
  }

  .carousel-indicator {
    flex: 1;
    height: 0.625rem;
    background-color: var(--light-text-color);
    opacity: 50%;
  }

  .carousel-indicator.active {
    opacity: 100%;
  }

  /* EDITOR'S PICK */
  .logo-box, .quick-links, .copyright, .editor-pick-section {
    padding-inline: 5rem;
  }

  .editor-pick-section .images-grid {
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1.88rem;
    grid-template-areas:
      'men men women accessories'
      'men men women kids';
    min-height: 500px;
  }

  .ctaTwo-section {
    display: flex;
    width: 100%;
  }

  .ctaTwo-img-container {
    padding-inline: 0.81rem;
    max-width: 55vw;
    margin: 0;
  }

  .ctaTwo-img {
    order: 0;
    width: 60vw;
    max-width: 100%;
    height: 40.625rem;
    background-size: cover;
    background-position: center -5rem;
  }

  .ctaTwo-header {
    width: 100%;
    max-width: 30rem;
    order: 1;
    gap: 1.88rem;
    text-align: left;
    padding-block: 0;
    margin-block: auto;
    align-items: flex-start;
  }

  .ctaTwo-header div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .ctaTwo-header .section-subHeading {
    font-weight: 700;
  }

  .ctaTwo-header p {
    color: var(--second-text-color);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    padding-inline: 0;
    letter-spacing: 0.0125rem;
  }

  .ctaTwo-header div {
    gap: 0.62rem;
  }

  .ctaTwo-header div button {
    background-color: var(--success-color);
    border: 1px solid var(--success-color);
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  .ctaTwo-header div button:last-child {
    background-color: transparent;
    color: var(--success-color);
  }

  .logo-box {
    display: flex;
    justify-content: space-between;
  }

  .quick-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .quick-links>div {
    gap: 1.25rem;
  }

  .quick-links>div>ul {
    gap: 0.62rem;
  }

  .copyright {
    flex-direction: row;
    gap: 0.31rem;
    justify-content: center;
  }

}

@media all and (max-width: 930px) {
  .bottom-header {
    row-gap: 1rem;
  }

  .nav-left {
    margin-left: auto;
  }
}

@media all and (min-width: 1024px) {
  .editor-pick-section .images-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


  .featuredProducts-header p {
    max-width: 35vw;
    margin-inline: auto;
  }
}

@media all and (min-width: 1440px) {
  .logo-box, .quick-links, .copyright, .editor-pick-section {
    padding-inline: 12.19rem;
  }

  .bestseller-section {
    padding-inline: 12.19rem 7.56rem;
  }

}

.red {
  background-color: red;
}
