@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --stroke: #E3E3E3;
  --dark: #000;
  --dark-50: rgba(0, 0, 0, 0.5);
  --black-5: rgba(30, 40, 50, 0.05);
  --black: #1E2832;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  padding-inline: 18.75rem;
  background-color: var(--black-5);
  min-height: 52.9375rem;
}

/* TOP HEADER */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--stroke);
  padding-block: 1.94rem 1.56rem;
}

.account-container {
  display: flex;
  align-items: center;
  gap: 1.38rem;
}

.account-container button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  background: transparent;
  border: none;
  font-size: 1.125rem;
  line-height: 1.313rem;
  text-transform: capitalize;
  font-weight: 400;
}

/* BOTTOM HEADER */


.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.88rem;
}

.nav-link a {
  color: var(--dark);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'open sans';
}

/* BANNER STYLES */

.banner {
  display: flex;
  gap: 6.12rem;
  align-items: center;
  padding-top: 5.06rem;
}

.banner-content h1 {
  color: var(--dark);
  font-size: 4.625rem;
  font-weight: 300;
  line-height: 3.4375rem;
}

.banner-content p {
  color: var(--dark);
  font-size: 1.875rem;
  max-width: 42.625rem;
  font-weight: 400;
  line-height: 3.4375rem;
  margin-block: 3.25rem 4.13rem;
  text-transform: capitalize;
}

.banner-content button {
  color: white;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.1875rem 1.625rem;
  font-size: 1.8125rem;
  font-weight: 400;
  outline: none;
  border: none;
}

/* CLIENTS */
.clients {
  padding: 5.62rem 18.75rem;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  align-items: center;
}

/* POPULAR */
.popular-section {
  display: grid;
  grid-template-columns: 51px 1fr;
  padding: 0 18.75rem 8.75rem 15.75rem;
}

/* .popular-heading {
  position: relative;
} */

p.popular-text {
  color: var(--dark);
  text-transform: uppercase;
  font-size: 2.125rem;
  font-weight: 400;
  flex-shrink: 0;
  white-space: nowrap;
  display: inline-block;
  transform: rotate(-90deg) translateX(-99%);
  margin-left: 51px;
  transform-origin: bottom left;
}


.popular-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 1320px;
}


.popular-images div:last-child {
  display: grid;
  place-items: left;
  grid-template-columns: repeat(2, minmax(19.5rem, 1fr));
  gap: 1.5rem;
}


.popular-grid-images div {
  width: 100%;
  overflow: hidden;
  max-width: 312px;
  max-height: 312px;
}


.popular-images img {
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 100%;
  width: auto;
}

/* Products */
.product-section {
  padding: 0 18.75rem 8.75rem 15.75rem;
}


.product-section h2 {
  color: var(--dark);
  text-align: center;
  font-size: 3.125rem;
  font-weight: 500;
  text-transform: capitalize;
}

.product-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 2.19rem;
}

.product-filters button {
  background-color: var(--black);
  color: white;
  border: none;
  outline: none;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  padding: 0.3125rem 0.9375rem;
  align-items: center;
  gap: 0.25rem;
}

.product-categories ul {
  display: flex;
  gap: 2.52rem;
}

.product-categories a {
  color: var(--dark-50);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.product-categories a.active {
  color: var(--dark);
}

.product-card {
  max-width: 19.5rem;
}

.product-info {
  margin-top: 1.12rem;
  padding-inline: 0.63rem;
}

.product-info h3 {
  color: var(--dark);
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.product-price_info {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  align-items: center;
  font-family: 'Open Sans';
  font-size: 1rem;
}

.product-category {
  color: var(--dark-50);
  font-weight: 400;
}

.product-price {
  color: var(--dark);
  font-weight: 600;
}

.product-gallery {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
}

.zara-section {
  background: url('../images/zara-bg.png') no-repeat;
  background-size: cover;
  padding-left: 18.75rem;
  padding-block: 8.75rem 5.81rem;
  display: flex;
  position: relative;
  color: #fff;
}

.zara-opaque {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 19.3125rem;
  overflow: hiddden;
  width: 100%;
  max-width: 45.75rem;
  opacity: 0.08;
}

@media screen and (max-width:1722px) {
  .header, .clients, .popular-section, .product-section {
    padding-inline: 10rem;
  }

  .clients {
    justify-content: center;
    flex-wrap: wrap;
  }

  /* POPULAR SECTION */


  .popular-images {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    overflow: hidden;
    width: 100%;
  }


  .popular-images div:last-child {
    grid-template-columns: repeat(auto-fit, minmax(14.9rem, 1fr));
  }

  .popular-grid-images div {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }


  .popular-images img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width:1374px) {

  p.popular-text {
    font-size: 1.6rem;
    transform: rotate(-90deg) translateX(-97.8%);
  }

  .popular-images div:last-child {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

@media screen and (max-width:414px) {
  .header, .clients, .popular-section, .product-section {
    padding-inline: 2rem;
  }

  .header {
    min-height: 90vh;
  }

  .header nav, .search-container, .account-container {
    display: none;
  }

  .banner {
    display: flex;
    gap: 6.12rem;
    align-items: center;
    padding-top: 5.06rem;
  }

  .banner-content h1 {
    font-size: 3rem;
    line-height: 1.5rem;
  }

  .banner-content p {
    font-size: 1rem;
    max-width: 42.625rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .banner-content button {
    color: white;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.1875rem 1.625rem;
    font-size: 1.8125rem;
    font-weight: 400;
    outline: none;
    border: none;
  }

  .banner-img-container {
    display: none;
  }

  .popular-section {
    display: block;
  }

  p.popular-text {
    font-size: 1.5rem;
    display: block;
    white-space: wrap;
    transform: rotate(0);
    margin-left: 0;
    text-align: center;
  }

  .popular-images {
    grid-template-columns: 1fr;
  }

  .product-categories ul {
    display: none;
  }
}

.bluish {
  background-color: var(--black);
}
